* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amatic SC", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
}

.App {
  margin: 2rem 2rem;
}

button {
  padding: 0 10px;
}

h2 {
  margin: 20px 0;
}

p {
  margin: 20px 0;
}
