* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
}

button,
input {
  border: none;
}

h1, h2 {
  font-family: "Amatic SC", cursive, sans-serif;
}

a {
  text-decoration: none;
}
